/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*================
global styles
==================*/

* {
    box-sizing: border-box;
    background-color: #fafafa;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
}

h3,
p,
nav a {
    font-family: 'Open Sans', sans-serif;
}

/*=================
Header
===================*/

nav a{
    text-decoration: none;
    margin-right: 15px;
    color: #000;
    font-weight: bolder;
}

nav{
    margin: 5% 2% 5% 5%;
}

header {
    display: flex;
}

header h1{
    margin: 5% 50% 5% 2%;
    font-weight: bold;
    font-size: 1.2rem;
}

/*==================
Main section
===================*/
.main {
    display: flex;
    flex-direction: row-reverse;
    margin: 5%;
}

.main p {
    color: #89857f;
    width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2.5vh;
}

.main img{
    width: 35%;
}

/*==================
Portfolio Section
====================*/

h2{
    text-align: center;
    font-weight: bolder;
}

.card img{
    width: 90%;
}

div.card {
    margin: 5% 2% 2% 5%;
}

.row1,
.row2 {
    display: flex;
}

.row1 h3,
.row2 h3 {
    margin: 7% 0;
    text-align: center;
    font-weight: bolder;
}

.row1 p,
.row2 p {
    line-height: 2vh;
}

.contact {
    margin: 10% 15%;
    text-align: center;
}

.contact p{
    margin: 5% 0;
    color: #8b8b8b;
    font-size: 1.2rem;
    line-height: 2.2vh;
}

address{
    font-size: 1.2rem;
    color: #8b8b8b;
    line-height: 2.2vh;
}

address span{
    font-weight: bolder;
}

/*=================
Footer
===================*/
footer{
    border-top: 1px solid rgba(139, 139, 139, .25);
    margin: 0 5%;
}

footer h1{
    float: left;
    margin: 2% 65% 2% 2%;
    font-size: 1.2rem;
    font-weight: bold;
}

footer nav{
    margin: 2% 0 2% 0%;
    font-size: .8rem;
}

.view{
    display: none;
}
